.table-view .column-header-background,
.table-view .column-header,
.table-view .column-header .filter {
    -fx-background-color: #aa96da;
}

.table-view {
    -fx-base: #ffffd2;
    -fx-control-inner-background: #ffffd2;
    -fx-background-color: #ffffd2;
    -fx-table-cell-border-color: white;
    -fx-table-header-border-color: white;
    -fx-padding: 5;
}